.nav-bar {
    background-color: #3a3a3a;
    border: solid 1px rgba(85, 85, 85, 0.5);
	min-height: 6vh;
}

h2 {
    margin:0;
    line-height: 41px;
}

.nav-bar button {
    -webkit-appearance: none;
    margin: 0 8px;
	background: -webkit-gradient(to right, #59ab80 0,#ded093 50%,#c56161);
	background: linear-gradient(90deg,#59ab80 0,#ded093 50%,#c56161);
	background-size: 500%;
	border: none;
	border-radius: 5rem;
	box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15);
    color: #5a420b;
	cursor: pointer;
	font: 0.8em Raleway, sans-serif;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	letter-spacing: .05em;
	outline: none;
	-webkit-tap-highlight-color: transparent;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
    min-width: 4rem;
    padding: 6px;
    font-weight: 600;
}

.nav-bar button:hover {
	animation-name: gradient;
	-webkit-animation-name: gradient;
	animation-duration: 2s;
	-webkit-animation-duration: s;
	animation-iteration-count: 1;
	-webkit-animation-iteration-count: 1;
	animation-fill-mode: forwards;
	-webkit-animation-fill-mode: forwards;
}

@keyframes gradient {
	0% {
		background-position: 0% 50%;
	}

	100% {
		background-position: 100%;
	}
}