.nav-bar {
    background-color: #3a3a3a;
    border: solid 1px rgba(85, 85, 85, 0.5);
	min-width:1410px;
	min-height: 6vh;
}

h2 {
    margin:0;
    line-height: 40px;
}

.nav-bar button {
    -webkit-appearance: none;
    margin: 0 4px;
	background: -webkit-gradient(to right, #a2ccb6 0%, #fceeb5 50%, #ee786e 100%);
	background: linear-gradient(to right, #a2ccb6 0%, #fceeb5 50%, #ee786e 100%);
	background-size: 500%;
	border: none;
	border-radius: 5rem;
	box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15);
    color: rgb(95, 95, 95);
	cursor: pointer;
	font: 0.8em Raleway, sans-serif;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	letter-spacing: .05em;
	outline: none;
	-webkit-tap-highlight-color: transparent;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
    min-width: 5rem;
    padding: 8px;
    font-weight: 600;
}

.nav-bar button:hover {
	animation-name: gradient;
	-webkit-animation-name: gradient;
	animation-duration: 2s;
	-webkit-animation-duration: s;
	animation-iteration-count: 1;
	-webkit-animation-iteration-count: 1;
	animation-fill-mode: forwards;
	-webkit-animation-fill-mode: forwards;
}

@keyframes gradient {
	0% {
		background-position: 0% 50%;
	}

	100% {
		background-position: 100%;
	}
}