.nav-bar {
    background-color: #3a3a3a;
    border: solid 1px rgba(85, 85, 85, 0.5);
    min-height: 7vh;
    min-width:1600px;
}

h2 {
    margin:0;
    color: rgb(93, 160, 248);
    line-height: 40px;
}
