.canvas {
    border: solid 1px rgb(105, 105, 105, 0.8); 
    display: flex;
    margin: 1px;
}

.canvas-content {
    margin: auto;
}

.array-container {
    padding: 10px 0 8px;
}
  
.array-bar, .static-bar {
    width: 2px; 
    display: inline-block;
    margin: 0 1px;
}

.algo-buttons {
    padding: 8px;
    border: 1px solid #b5b5b5;
    cursor: pointer;
    position: relative;
    outline: none;
}

@keyframes box-shadow-fade-in {
    from {  
        box-shadow: none; 
        z-index: 0;
    }
    to {  
        box-shadow: 0 1px 5px 2px rgba(0,0,0,0.4); 
        z-index: 99;
        border: 1px solid transparent;
    }
}

@keyframes box-shadow-fade-out {
    from {  
        box-shadow: 0 1px 5px 2px rgba(0,0,0,0.4); 
        z-index: 99;
    }
    to {  
        box-shadow: none; 
        z-index: 0;
    }
}

@keyframes blur-fade-in {
    from {  
        filter: none;
    }
    to {  
        filter: blur(2px);
    }
}

@keyframes blur-fade-out {
    from {  
        filter: blur(2px);
    }
    to {  
        filter: none;
    }
}

@media only screen and (max-width: 1316px) {
    .array-container {
        padding: 20px 0 10px;
    }

    .canvas {
        padding-bottom: 15px;
    }
}

@media only screen and (max-width: 664px) {
    .array-bar, .static-bar {
        width: 2px;
        margin: 0;
    }

    .algo-buttons {
        padding: 6px 3px;
        font-size: 10px;
    }
}
