.canvas {
    border: solid 1px rgb(105, 105, 105, 0.8); 
    display: flex;
    margin: 1px;
}

.canvas-content {
    margin: auto;
}

.array-container {
    padding: 10px 0 8px;
}
  
.array-bar, .static-bar {
    width: 2px; 
    display: inline-block;
    margin: 0 1px;
}

.algo-buttons {
    padding: 8px;
    border: 1px solid #494949;
    transition: all 0.4s ease 0s;
    cursor: pointer;
    position: relative;
    outline: none;
}

.algo-buttons:hover {
    border: 1px solid #494949;
    transition: all 0.4s ease 0s;
}

@media only screen and (max-width: 1316px) {
    .array-container {
        padding: 20px 0 10px;
    }

    .canvas {
        padding-bottom: 15px;
    }
}

@media only screen and (max-width: 664px) {
    .array-bar, .static-bar {
        width: 2px;
        margin: 0;
    }

    .algo-buttons {
        padding: 6px 3px;
        font-size: 10px;
    }
}
