.App {
  text-align: center;
}

.grid {
  display: grid;  
  grid-template-columns: repeat(auto-fill, minmax(650px, 1fr));
  grid-gap: 0.1em;
  min-height: 92vh;
}

.App-header {
  background-color: #282c34;
}

@media only screen and (max-width: 664px) {
  .grid {
    grid-template-columns: repeat(auto-fill, minmax(370px, 1fr));
  }
}

