.App {
  text-align: center;
  background-color: white;
  /* border: solid 1px rgb(105, 105, 105, 0.3);   */
}

.grid {
  display: grid;  
  grid-template-columns: repeat(auto-fill, minmax(795px, 1fr));
  /* grid-auto-rows: minmax(50px, auto); */
  grid-gap: 0.1em;
  min-width:1600px;
  min-height: 92vh;
}

.App-header {
  background-color: #282c34;
}

.App-link {
  color: #61dafb;
}
