.App {
  text-align: center;
  background-color: white;
}

.grid {
  display: grid;  
  grid-template-columns: repeat(auto-fill, minmax(700px, 1fr));
  grid-gap: 0.1em;
  min-width:1410px;
  min-height: 92vh;
}

.App-header {
  background-color: #282c34;
}

.App-link {
  color: #61dafb;
}
